
.App-header {
  width: 85%;
  float: right;
  margin-bottom: 0px;
}

.App-list {
  float: right;
}

.App-list>li {
  display: inline;
  font-size: 13px;
  color: gray;
}

.App-list>li>a {
  text-decoration: none;
  padding: 5px;
  font-size: 13px;
}