.Main {
  width: 85%;
  position: absolute;
  top: 15%;
  font-size: 14px;
  line-height:1.5;
  border:1px solid rgb(190, 226, 243);
}

.Title-main {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 1.9em;
  padding-left: 10px;
}

.Parrafo {
  width: 75%;
  padding:0px 14px;
  text-align: justify;
}

.Parrafo>p>a {
  text-decoration: none;
}

.Main>hr {
  margin:0 12px;
}