.Nav {
  width: 85%;
  float: right;
  padding-bottom: 0px;
}
  
.Nav-rigth {
  float: right;
  
}
  
.Nav>ul>li {
  padding-right:10px;
}
.Nav>ul>li>input {
  width: 260px;
}

.Nav-left {
  float: left;
}
  
.Nav-left>li, .Nav-rigth>li {
  display: inline;
  font-size: 13px;
  color: rgb(10, 10, 10);
  border-right: 1px solid rgb(80, 162, 216);
}
  
.Nav-left>li>a, .Nav-rigth>li>a  {
  text-decoration: none;
  padding: 8px;
  font-size: 13px;
  
}