
.App-header {
  /* height: 80%; */
  width: 80%;
  float: right;
}

.App-list {
  float: right;
}

.App-list>li {
  display: inline;
  font-size: 14px;
  color: gray;
}

.App-list>li>a {
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
}