.Indice {
  border:1px solid rgb(142, 143, 145);
  background-color: #F9F9F9;
  width: 20%;
  font-size: 13px;
  margin:2px 15px;

}

.Indice-Title {
  text-align: center;
  font-size: 14px;
}
.Indice>ol>li>a, .List>li>a, .Indice>p>span>a {
  text-decoration: none;
}
