.Info {
  width: 25%;
  background-color: rgb(238, 243, 245);
  float: right;
  padding: 10px;
  margin: 15px;
  line-height: 0.9;
}

.Center {
  text-align: center;
}

.Title {
  background-color: rgb(192, 189, 189);
  padding: 2px;
}

.Sub-Title {
  background-color: rgb(192, 189, 189);
}

.Sub-Title>h5 {
  padding: 8px;
}

.Info-grace {
  width: 200px;
}

.Personal {
  width: 35%;
  display: inline-block;
}

.Date {
  width: 60%;
  display: inline-block;
  font-size: 14px;
}

.Date>p>a{
  text-decoration: none;
}
.Date>p>span{
  font-size: 12px;
}

.Distinciones {
  height: 150px;
}