.Info {
  background-color: #F9F9F9;
  border: 1px solid rgb(184, 183, 183);
  padding: 7px;
}

.Information {
  width: 25%;
  float: right;
  padding: 10px;
  margin: 15px;
  line-height: 0.9;
}

.Img-Info {
  width: 85%;
  float: right;
  padding: 7px;
  margin-top: 15px;
  background-color: #F9F9F9;
  border: 1px solid rgb(184, 183, 183);
  font-size: 12px;
  line-height: 1.1;
}

.Info-img {
  width: 235px;
}
.Center {
  text-align: center;
}

.Title {
  background-color: rgb(192, 189, 189);
  padding: 2px;
}

.Sub-Title {
  background-color: rgb(192, 189, 189);
}

.Sub-Title>h5 {
  padding: 8px;
}

.Info-grace {
  width: 200px;
}

.Personal {
  width: 35%;
  display: inline-block;
}

.Date {
  width: 60%;
  display: inline-block;
  font-size: 14px;
}

.Date>p>a{
  text-decoration: none;
}
.Date>p>span{
  font-size: 12px;
}

.Distinciones {
  height: 150px;
}