.Main {
    width: 82%;
    border: 1px solid red;
    position: absolute;
    top: 16%;
    font-size: 15px;
    line-height:1.4;
}

.Parrafo {
    width: 75%;
    padding:2px 15px;
    text-align: justify;
}

.Parrafo>p>a {
    text-decoration: none;
}